WebContent/wsdl/OrdersSoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://business" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://business" xmlns:intf="http://business" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://business" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrders">
    <complexType/>
   </element>
   <element name="getOrdersResponse">
    <complexType>
     <sequence>
      <element name="getOrdersReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrdersResponse">

      <wsdl:part element="impl:getOrdersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrdersRequest">

      <wsdl:part element="impl:getOrders" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrdersSoapService">

      <wsdl:operation name="getOrders">

         <wsdl:input message="impl:getOrdersRequest" name="getOrdersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrdersResponse" name="getOrdersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrdersSoapServiceSoapBinding" type="impl:OrdersSoapService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrdersSoapServiceService">

      <wsdl:port binding="impl:OrdersSoapServiceSoapBinding" name="OrdersSoapService">

         <wsdlsoap:address location="http://localhost:8080/Assignment4b/services/OrdersSoapService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
